:root {
    --firstplace: #E7BC18;
    --firstrunnerup: #A3A3A3;
    --secondrunnerup: #C5853C;
}

.ctnr {
    display: grid;
    grid-template-columns: 20% 80%;
    height: 100vh;
    max-height: 100vh;
}

.sidebar {
    border-right: 2px solid gainsboro;
}

/*partition: contestant display*/

.podium {
    margin: 2rem;
    height: 30vh;
    display: flex;
    --picture-dim: calc(30vh/4);
}

.contestant_ctnr {
    position: relative;
    overflow: hidden;
    flex: 1; margin: 1.5rem;
    border-radius: 1rem;
    border: 2px solid gainsboro;
    
    background-color: var(--firstplace);
}

.contestant_ctnr:first-of-type {background-color: var(--firstrunnerup);}
.contestant_ctnr:last-of-type {background-color: var(--secondrunnerup);}

/*cropping to circular picture div*/
.picture {
    margin: auto; position: relative; top: 50%; transform: translateY(-50%);
    z-index: 200;

    border: 1px solid black;
    background-color: whitesmoke;

    width: var(--picture-dim);
    height: var(--picture-dim);
    border-radius: 50%;
}

.podium-label {
    position: absolute;
    bottom: 0;
    height: 50%;
    width: 100%; max-width: 100%;

    display: table;
    
    
    background-color: white;
}

.podium-label > p {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}