@font-face {
    font-family: "montserrat-light";
    src: url(../fonts/Montserrat-Light.ttf);
  }
  

:root {
    overflow: hidden;
}

h2 {
    margin-bottom: 0.2rem;
}

p {
    margin-bottom: 0.4rem;
}

.pagectnr {
    height: 100vh;
    max-height: 100%;
    display: grid;
    justify-content: center;
    align-content: center;
}

.dialog {
    box-shadow: 10px 10px 20px grey;
    height: 40vh;
    width: 20vw;
    transform: translate(0%, -5vh);
    text-align: center;

    display: grid;
    grid-template-columns: 10%, 80%, 10%;
    justify-content: center;
    align-content: center;
}

.__signupform {
    height: 50vh;
    width: 30vw;
}

.layout-footer {
    position: absolute;
}

input[type=text], input[type=password] {
    margin: 0.3rem;
    width: 100%;
    border: none;
    border-bottom: 0.2rem solid grey;
}

form > button {
    background-color: white;
    color: black;
    border: 0.12rem solid var(--clr-primary);
    margin: 0.8rem;
    transform: translate(50%, 0%);

}
