@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap");

body{
  height: 100vh;
}    

p{
  margin: 0;
  margin-bottom: 20px;
}

.container{
  display: flex;
  height: 120vh;
  width: 100%;
}

.main-content{
    width: 80vw;
}

.panel-card-stats{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


.panel {
    position: relative;
    display: flex;
    padding: 67px 10px 65px 10px;
    margin-bottom: 61px;
    box-sizing: border-box;
    border-radius: 18px;
    background-color: rgba(255, 255, 255, 1);
    box-shadow: 2.41px 4.82px 12.87px rgba(0, 0, 0, 0.25);
    justify-content: flex-start;
    align-items: center;
    width: 100%;
}

.registered-users{
    background-color: rgba(222, 241, 255, 1);
    color: rgba(84, 184, 255, 1);
    position: absolute;
    left: 10em;
}

.total-users{
    background-color: rgba(254, 247, 218, 1);
    color: rgba(248, 196, 0, 1);
    position: absolute;
    left: 20em;
}

.total-ans{
    background-color: rgba(255, 231, 219, 1);
    color: rgba(254, 110, 60, 1);
    position: absolute;
    left: 10em;
}

.total-questions {
    background-color: rgba(240, 220, 255, 1);
    color: rgba(176, 83, 253, 1);
    position: absolute;
    left: 20em;
}

.panel-title {
    font-size: 30px;
    font-family: Montserrat, sans-serif;
    font-weight: 700;
    color: rgba(0, 0, 0, 1);
    word-wrap: break-word;
    margin: 0 90px;
}

.panel-title-stat {
    font-size: 61.27px;
    font-family: Montserrat, sans-serif;
    font-weight: 400;
    color: rgba(0, 0, 0, 1);
    text-align: right;
    word-wrap: break-word;
    margin: 0 90px;
}

.panel-detail {
    font-size: 40px;
    padding: 30px 30px 30px 30px;
    margin-right: 50px;
    box-sizing: border-box;
    border-radius: 15.28px;
    box-shadow: 2.04px 4.08px 10.87px rgba(0, 0, 0, 0.25);
    width: 230px;
    height: 130px;
}

.panel-card-stat-count {
    font-family: Montserrat, sans-serif;
    font-weight: 700;
    text-align: center;
    height: 49px;
    word-wrap: break-word;
    margin-bottom: 4px;
}

.panel-card-title{
    font-size: 20px;
    font-family: Montserrat, sans-serif;
    font-weight: 700;
    text-align: center;
    width: 203px;
    height: 24px;
    word-wrap: break-word;
}

@media (max-width: 1430px){
    .panel-detail{
        position: relative;
        left: auto;
    }
}

@media (max-width: 1250px){
    .main-content{
        width: 100vw;
    }

    .registered-users{
        left: 2em;
    }

    .total-ans{
        left: 0.5em;
    }


    .total-users{
        left: 3em;
    }

    .total-questions{
        left: 1.5em;
    }
}

@media (max-width: 1210px) {
    .panel{
        flex-direction: column;
        height: 579px;
        width: 374px;
        margin-left: 0;
    }

    .container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: auto;
    }

    .dashboard--main{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-top: 60px;
    }

    .panel-detail{
        margin: 0 0 25px 0;
        position: relative;
        left: auto;
    }

    .panel-card-stats{
        margin: 0;
    }

    .panel-title{
        text-align: center;
    }

    .admin-dashboard{
        padding-left: 0;
    }
}