/* JS styles for alert box */
.swal2-styled.swal2-confirm {
  background-color: #0066ff;
}

.alert_text {
  color: white;
}

.swal2-popup .swal2-styled:focus {
  box-shadow: none !important;
}

.swal2-html-container {
  font-family: "montserrat-medium";
}

@media (max-width: 870px) {
  .question-caption,
  .button {
    flex-direction: column;
    align-items: flex-start;
  }

  .button-remove {
    display: none;
  }

}

