
body{
  height: 100vh;
}

p{
    margin: 0;
}

.panel {
    position: relative;
    display: flex;
    padding: 67px 10px 65px 10px;
    margin-bottom: 61px;
    box-sizing: border-box;
    border-radius: 18px;
    background-color: rgba(255, 255, 255, 1);
    box-shadow: 2.41px 4.82px 12.87px rgba(0, 0, 0, 0.25);
    justify-content: flex-start;
    align-items: center;
    width: 100%;
}

.vote-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    color: #9F9F9F;
    margin: 0 1em 0 1em;
}

.question-headers{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.question-caption, .button{
    display: flex;
}

.question-title{
    font-size: 20px;
    font-weight: bold;
    color: #5A5A5A;
    margin-right: 1em;
}

.question-age{
    font-size: 15px;
    color: #909090;
}

.button-answer{
    border: solid 2px #3D8F58;
    color: #3D8F58;
}

.button-remove{
    border: solid 2px #FF0000;
    color: #FF0000;
}

.button-answer, .button-remove{
    display: flex;
    margin-right: 1em;
    height: 40px;
    width: 130px;
    padding: 0.2rem ;
    border-radius: 15px;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    font-weight: bold;
}
