.pendinguser-ctnr {
    border: 0.15rem solid grey; border-radius: 2rem;
    max-height: 8vw; max-width: 100%;
    padding: 1rem;
    
    display: grid; grid-template-columns: 5% 10% 60% auto auto;
}


.pendinguser-ctnr > .image {
    width: 5vw; height: 5vw;
    border: 0.15rem solid grey;
    border-radius: 50%;
}

.pendinguser-ctnr > .userinfo {padding: 0.3vh;}

.pendinguser-ctnr > button{margin: auto;}

.pendinguser-ctnr > button:first-of-type{
    background-color: white; border: 0.1rem solid green;
    color: green;
}

.pendinguser-ctnr > button:last-of-type{
    background-color: white; border: 0.1rem solid red;
    color: red;
}