.home__header-title {
  margin-bottom: 1.2rem;
}

.home__quetion-asked {
  font-family: var(--ff-montserrat-light);
  font-weight: 100;
}

.home__header-btn-container {
  display: flex;
  justify-content: flex-start;
}

.home__header-btn {
  padding: 0.5em 1.5em;
  font-size: 0.95rem;
}

.home__header-btn--ask-question {
  padding: 0;
}

.home__header-link {
  display: block;
  padding: 0.5em 1.5em;
}

.home__header-btn--ask-question {
  background-color: var(--clr-primary);
  color: #ffffff;
}

.home__header-btn--filter {
  margin-right: 1rem;
  color: var(--clr-font-grey);
}

.home__body {
  margin-top: 3rem;
}

.home__main-nav {
  display: flex;
  justify-content: center;
  margin: 3rem 0;
}

.home__main-nav-btn {
  padding: 0;
  background-color: #ffffff;
}

.home__main-nav-link {
  padding: 0.7em 1.5em;
  color: var(--clr-font-grey);
}

.home__main-nav-page {
  margin: 0 2rem;
}

@media (min-width: 1245px) {
  .home__header {
    display: flex;
    justify-content: space-between;
  }

  .home__header-title {
    display: inline;
  }

  .home__header-btn-container {
    display: inline-flex;
    justify-content: flex-end;
  }

  .home__header-btn {
    height: fit-content;
  }
}

@media (max-width: 700px) {

  .home__title {
    display: none;
  }

  .button-header{
    padding: 0 2rem;
    width: 100%;
    display: flex;
    justify-content: space-between;
  }

  .button-askQuestion,
  .button-filter{
    border-radius: 10px;
    font-size: 12px;
    height: 35px;
  }

  .button-askQuestion{
    display: block;
    width: 138px;
  }

  .button-filter{
    width: 75px;
  }
}
