body {
  max-height: 200vh;
  overflow: auto;
}

.home--main {
  min-height: 90vh;
  width: 100vw;
}

.home--sidebar {
  display: none;
  position: absolute;
  top: var(--layout-header-height);
  right: 0;
  min-height: 90vh;
  width: 21vw;
  padding: 3rem 3rem 3rem 1rem;
}

.home__header-title {
  margin-bottom: 1.2rem;
}

.home__quetion-asked {
  font-family: var(--ff-montserrat-light);
  font-weight: 100;
}

.home__header-btn-container {
  display: flex;
  justify-content: flex-start;
}

.home__header-btn {
  padding: 0.5em 1.5em;
  font-size: 0.95rem;
}

.home__header-btn--ask-question {
  padding: 0;
}

.home__header-link {
  display: block;
  padding: 0.5em 1.5em;
}

.home__header-btn--ask-question {
  background-color: var(--clr-primary);
  color: #ffffff;
}

.home__header-btn--filter {
  margin-right: 1rem;
  color: var(--clr-font-grey);
}

.home__body {
  margin-top: 3rem;
}

.home__main-nav {
  display: flex;
  justify-content: center;
  margin: 3rem 0;
}

.home__main-nav-btn {
  padding: 0;
  background-color: #ffffff;
}

.home__main-nav-link {
  padding: 0.7em 1.5em;
  color: var(--clr-font-grey);
}

.home__main-nav-page {
  margin: 0 2rem;
}

.home--sidebar__content {
  width: 100%;
  margin: 0 auto 3rem;
  padding: 1.8em;
}

.home--sidebar__content-title {
  text-decoration: 1px underline var(--clr-font-grey);
}

.home--sidebar__top-user {
  display: flex;
  align-items: center;
  margin-top: 1rem;
}

.sidebar-top-user__username {
  margin-left: 0.3rem;
}

.home--sidebar__hot-topic {
  display: block;
  margin-top: 1rem;
  color: var(--clr-link);
}

.home--sidebar__hot-topic:hover {
  text-decoration: 1px underline var(--clr-link);
}

@media (min-width: 1245px) {
  .home--main {
    min-height: 120vh;
    width: 65vw;
    padding-right: 3rem;
    padding-bottom: 8rem;
  }

  .home__header {
    display: flex;
    justify-content: space-between;
  }

  .home__header-title {
    display: inline;
  }

  .home__header-btn-container {
    display: inline-flex;
    justify-content: flex-end;
  }

  .home__header-btn {
    height: fit-content;
  }

  .home--sidebar {
    display: block;
  }
}
