.home__header-title {
  margin-bottom: 1.2rem;
}

.home__quetion-asked {
  font-family: var(--ff-montserrat-light);
  font-weight: 100;
}

.home__header-btn-container {
  display: flex;
  justify-content: flex-start;
}

.home__header-btn {
  padding: 0.5em 1.5em;
  font-size: 0.95rem;
}

.home__header-btn--ask-question {
  padding: 0;
}

.home__header-link {
  display: block;
  padding: 0.5em 1.5em;
}

.home__header-btn--ask-question {
  background-color: var(--clr-primary);
  color: #ffffff;
}

.home__header-btn--filter {
  margin-right: 1rem;
  color: var(--clr-font-grey);
}

.home__header-btn--filter:hover {
  transition: 0.3s ease-in-out;
  background-color: var(--clr-primary);
  color: #ffffff;
}

.home__filter-container {
  width: 100%;
  margin-top: 2rem;
  padding: 1.8em;
  border-left: 0.3rem solid var(--clr-primary);
}

.home__filter-content-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 1.2rem auto;
}

.home__filter-form-item {
  display: flex;
  align-items: center;
  margin: 0.5rem 0;
}

.home__filter-form-item > label {
  margin: 0;
  font-size: 1rem;
}

.home__filter-form-wrapper > input[type="text"] {
  margin: 0.6rem 0 1.2rem;
}

.home__filter-form-item > input[type="checkbox"],
.home__filter-form-item > input[type="radio"] {
  transform: scale(1.3, 1.3);
  margin-right: 0.5rem;
}

.home__filter-btn-container {
  display: flex;
  justify-content: flex-end;
}

.home__cancel-filter-btn {
  margin-right: 0.8rem;
  background-color: #b3b3b3;
}

.home__body {
  margin-top: 3rem;
}

.home__end-title,
.home__end-img {
  display: block;
  margin: 1.5rem auto;
  text-align: center;
}

.home__end-title {
  text-decoration: 1px underline;
}

.home__end-img {
  max-width: 20rem;
}

.home__main-nav {
  display: flex;
  justify-content: center;
  margin: 3rem 0;
}

.home__main-nav-btn {
  padding: 0;
  background-color: #ffffff;
}

.home__main-nav-link {
  padding: 0.7em 1.5em;
  color: var(--clr-font-grey);
}

.home__main-nav-page {
  margin: 0 2rem;
}

@media (min-width: 572px) {
  .home__filter-form-wrapper:nth-of-type(2) {
    margin: 0 1.8rem;
  }
}

@media (min-width: 1245px) {
  .home__header {
    display: flex;
    justify-content: space-between;
  }

  .home__header-title {
    display: inline;
  }

  .home__header-btn-container {
    display: inline-flex;
    justify-content: flex-end;
  }

  .home__header-btn {
    height: fit-content;
  }
}

@media (max-width: 700px) {
  .home__title {
    display: none;
  }

  .button-header {
    padding: 0 2rem;
    width: 100%;
    display: flex;
    justify-content: space-between;
  }

  .button-askQuestion,
  .button-filter {
    border-radius: 10px;
    font-size: 12px;
    height: 35px;
  }

  .button-askQuestion {
    display: block;
    width: 138px;
  }

  .button-filter {
    width: 75px;
  }
}

/* Classes for JS DOM manipulation */
.disabled {
  pointer-events: none;
  background-color: #fafafa;
  opacity: 0.5;
}

.btn-click {
  background-color: var(--clr-primary);
  color: #ffffff;
}

.hide {
  display: none;
}
