.home--main {
  width: 65vw;
}

hr {
  margin: 1em;
}
div > button {
  margin: 1.5rem;
}

.ctnr {
  display: grid;
  grid-template-columns: 80% 20%;
  height: 100vh;
  max-height: 100%;
  margin: 80px 1vw 1vw 2vw;
}

.post-view {
  margin: 3rem;
  border-right: 2px solid black;
}
.title-ctnr {
  display: grid;
  grid-template-columns: 80% 20%;
}

.post-ctnr {
  display: grid;
  grid-template-columns: 2% 98%;
  margin: 0.8rem;
  padding: 1rem;
  border-radius: 0.5rem;
  border: 1px solid grey;
}

.vote-tab {
  display: grid;
  grid-template-rows: 10% 10% 10%;
  text-align: left;
  border-right: 1px dotted black;
}

.vote-arrow {
  width: 1rem;
  height: 1rem;
  padding: 0.3rem;
  border: solid black;
  border-width: 0 0.3rem 0.3rem 0;
}

.rotate-up {
  transform: translate(-25%, 50%) rotate(-135deg);
}
.rotate-down {
  transform: translate(-25%, 25%) rotate(45deg);
}

.post-ctnt {
  display: grid;
  grid-template-rows: 15% 55% 15% 15%;
  min-height: 15vh;
  margin: 0.7rem;
}

.post-title {
  display: grid;
  grid-template-columns: 80% 20%;
  border-bottom: 1px solid grey;
}

.post-preview {
  margin: 0.4rem;
}
.post-tags {
  display: inline;
}

.post-tags > * {
  margin: 0.08rem;
  padding: 0.5rem;
  color: white;
  background-color: orangered;
}

.post-info {
  margin: 0.2rem;
}



@media (max-width: 1245px) {
  .home--main  {
    width: 100vw;
  }
  .home--sidebar {
    display: none;
  }
}
