/*Importing Roboto font*/
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap");

.home--main {
  width: 65vw;
}

.home--sidebar {
  position: absolute;
  top: var(--layout-header-height);
  right: 0;
  width: 21vw;
  min-height: 90vh;
  padding-top: 1.5rem;
  border-left: 0.15em solid var(--clr-shadow-grey);
}

hr {
  margin: 1em;
}


.ctnr {
  display: grid;
  grid-template-columns: 80% 20%;
  height: 100vh;
  max-height: 100%;
  margin: 80px 1vw 1vw 2vw;
}

.post-view {
  margin: 3rem;
  border-right: 2px solid black;
}
.title-ctnr {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.panel {
  display: flex;
  padding: 30px 50px 30px 10px;
  margin: 0 auto 3rem;
  justify-content: flex-start;
  width: 100%;
}

.vote-container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 20px;
  color: #9f9f9f;
  margin: 0 1.5em 0 1em;
  font-size: 25px;
}

.question {
  display: flex;
  flex-direction: column;
  position: relative;
}

.question-headers {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.question-caption,
.button {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 1em;
}

.button-filter{
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 15px;
  height: 50px;
  width: 125px;
  background-color: transparent;
  border: solid 2px #909090;
  color: #5A5A5A;
  font-weight: bold;
  font-size: 20px;
}

.button-answer {
  border: solid 2px #3d8f58;
  color: #3d8f58;
  margin-right: 1em;
  height: 40px;
  width: 130px;
  padding: 0.2rem;
  border-radius: 15px;
  background-color: transparent;
  font-weight: bold;
}

.question-title {
  font-size: 21px;
  font-weight: bold;
  color: #5a5a5a;
  margin-right: 1em;
}

.question-age {
  font-size: 15px;
  color: #909090;
}


.question-body {
  height: 80px;
  overflow: hidden;
  font-size: 19px;
  color: #909090;
  margin-bottom: 1em;
}

.question-body:before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  bottom: 6rem;
  background: linear-gradient(transparent 150px, white);
}

.question-footer {
  margin-top: 1em;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-top: 1px solid #d7d5d5;
  padding-top: 1rem;
}

.question-owner {
  display: flex;
  align-items: center;
}

.profile-picture {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  margin-right: 0.5em;
}

.owner {
  color: #0066ff;
  font-family: "Roboto", sans-serif;
  font-size: 15px;
}

.posted-by {
  font-family: "Roboto", sans-serif;
  color: #909090;
  font-size: 15px;
}










.post-tags {
  display: inline;
}

.post-tags > * {
  margin: 0.08rem;
  padding: 0.5rem;
  color: white;
  background-color: #EC6F25;
}



.trending {
  display: grid;
  grid-template-rows: fit-content(20%) fit-content(20%);
}

.trending-tab {
  border: 1px solid black;
  border-radius: 1rem;
  margin: 1rem;
  padding: 1rem;
}
.trending-tab > div {
  border-bottom: 1px dotted black;
}

@media (max-width: 1245px) {
  .home--main  {
    width: 100vw;
  }
  .home--sidebar {
    display: none;
  }
}
