.leaderboard--main {
  padding-bottom: 8rem;
}

.leaderboard__podium-wrapper,
.leaderboard__podium {
  display: flex;
  flex-wrap: wrap-reverse;
  align-items: center;
  justify-content: center;
  position: relative;
}

.leaderboard__podium-wrapper {
  margin: 2rem 0;
  padding: 3em 0;
  font-size: 1.3rem;
  background-image: url(../../../public/img/leaderboard_background.jpg);
  border-radius: 1em;
}

.leaderboard__podium {
  flex-direction: column;
  margin: 1rem;
  width: 300px;
}

.leaderboard__podium--1 {
  background: linear-gradient(180deg, #e7bc18 50%, #ffffff 50%);
  order: 1;
  height: 280px;
}

.leaderboard__podium--2 {
  background: linear-gradient(180deg, #a3a3a3 50%, #ffffff 50%);
  height: 250px;
}


.leaderboard__podium--3 {
  background: linear-gradient(180deg, #c5853c 50%, #ffffff 50%);
  height: 250px;
}

.leaderboard__podium-point {
  color: #ffffff;
  position: absolute;
  top: 2em;
}

.leaderboard__podium-img {
  max-width: 3.5rem;
}

.leaderboard-name{
  width: 250px;
  height: 55px;
  overflow: hidden;
  text-align: center;
  word-break: break-all;
  position: absolute;
  bottom: 2em;
  padding: auto;
}

.leaderboard__runner-up-field,
.leaderboard__runner-up {
  display: grid;
  grid-template-columns: 1fr 3fr 1fr 3fr;
  padding: 1.2em;
  overflow: auto;
}

.leaderboard__runner-up-field {
  padding-bottom: 0;
}

.leaderboard__runner-up {
  align-items: center;
}

.leaderboard__runner-up-field--no,
.leaderboard__runner-up-field--point,
.leaderboard__runner-up--no,
.leaderboard__runner-up--point {
  text-align: center;
}

.leaderboard__field--point {
  grid-column: 3 / 4;
}

.leaderboard__runner-up--user {
  display: flex;
  align-items: center;
}

.leaderboard__runner-up {
  grid-column: 1 / -1;
  width: 100%;
  margin-top: 2.3rem;
}

.leaderboard__field--no,
.leaderboard__runner-up--no {
  grid-column: 1 / 2;
}

.leaderboard__runner-up--img {
  margin: 0 0.6rem;
}

.leaderboard__runner-up-btn {
  width: fit-content;
  margin-left: auto;
  padding: 0;
}

.leaderboard__runner-up-link {
  display: block;
  padding: 0.5em 2em;
}

@media (min-width: 486px) {
  .leaderboard__podium {
    margin: 1rem 0.87rem;
  }
  .leaderboard__podium--1 {
    font-size: 1.6rem;
  }
}

@media (min-width: 720px) {
  .leaderboard__podium {
    margin: 1rem 1.4rem;
  }
}

@media (min-width: 780px) {
  .leaderboard__podium {
    margin: 1rem 2rem;
  }
}

@media (min-width: 954px) {
  .leaderboard__podium--2 {
    order: 0;
  }
  .leaderboard__podium--3 {
    order: 2;
  }
}

@media (max-width: 1475px){
  .leaderboard__podium--1 {
    order: 3;
  }
  
  .leaderboard__podium--2 {
    order: 2;
  }
  
  .leaderboard__podium--3 {
    order: 1;
  }
}
