.leaderboard--main {
  padding-bottom: 8rem;
}

.leaderboard__podium-wrapper,
.leaderboard__podium {
  display: flex;
  flex-wrap: wrap-reverse;
  align-items: center;
  justify-content: center;
}

.leaderboard__podium-wrapper {
  margin: 2rem 0;
  padding: 3em 0;
  font-size: 1.3rem;
  background-image: url(../../../public/img/leaderboard_background.jpg);
  border-radius: 1em;
}

.leaderboard__podium {
  flex-direction: column;
  min-width: 13.5rem;
  margin: 1rem;
}

.leaderboard__podium--1 {
  background: linear-gradient(180deg, #e7bc18 50%, #ffffff 50%);
  order: 1;
}

.leaderboard__podium--2 {
  background: linear-gradient(180deg, #a3a3a3 50%, #ffffff 50%);
}

.leaderboard__podium--3 {
  background: linear-gradient(180deg, #c5853c 50%, #ffffff 50%);
}

.leaderboard__podium-point {
  color: #ffffff;
}

.leaderboard__podium-img {
  max-width: 3.5rem;
}

.leaderboard__runner-up-field,
.leaderboard__runner-up {
  display: grid;
  grid-template-columns: 1fr 3fr 1fr 3fr;
  padding: 1.2em;
  overflow: auto;
}

.leaderboard__runner-up-field {
  padding-bottom: 0;
}

.leaderboard__runner-up {
  align-items: center;
}

.leaderboard__runner-up-field--no,
.leaderboard__runner-up-field--point,
.leaderboard__runner-up--no,
.leaderboard__runner-up--point {
  text-align: center;
}

.leaderboard__runner-up-field--user {
  margin-left: 0.6rem;
}

.leaderboard__field--point {
  grid-column: 3 / 4;
}

.leaderboard__runner-up--user {
  display: flex;
  align-items: center;
}

.leaderboard__runner-up {
  grid-column: 1 / -1;
  width: 100%;
  margin-top: 2.3rem;
}

.leaderboard__field--no,
.leaderboard__runner-up--no {
  grid-column: 1 / 2;
}

.leaderboard__runner-up--img {
  margin: 0 0.6rem;
}
/* W: 216, H: 206.86 */
/* W: 226.8, H: 217.2 */
.leaderboard__runner-up-btn {
  width: fit-content;
  margin-left: auto;
  padding: 0;
}

.leaderboard__runner-up-link {
  display: block;
  padding: 0.5em 2em;
}

@media (min-width: 486px) {
  .leaderboard__podium {
    margin: 1rem 0.88rem;
  }
  .leaderboard__podium--1 {
    min-width: 15.12rem;
    min-height: 14.48rem;
  }
}

@media (min-width: 520px) {
  .leaderboard__podium {
    margin: 1rem 0.7rem;
  }
}

@media (min-width: 720px) {
  .leaderboard__podium {
    margin: 1rem 1.4rem;
  }
}

@media (min-width: 780px) {
  .leaderboard__podium {
    margin: 1rem 2rem;
  }
}

@media (min-width: 938px) {
  .leaderboard__podium {
    margin: 1rem 1.5rem;
  }
  .leaderboard__podium--2 {
    order: 0;
  }
  .leaderboard__podium--3 {
    order: 2;
  }
}
