.leaderboard--main {
  padding-bottom: 8rem;
}

.leaderboard__podium-wrapper {
  margin: 2rem 0;
}

.leaderboard__runner-up-field,
.leaderboard__runner-up {
  display: grid;
  grid-template-columns: 1fr 3fr 1fr 3fr;
  padding: 1.2em;
  overflow: auto;
}

.leaderboard__runner-up-field {
  padding-bottom: 0;
}

.leaderboard__runner-up {
  align-items: center;
}

.leaderboard__runner-up-field--no,
.leaderboard__runner-up-field--point,
.leaderboard__runner-up--no,
.leaderboard__runner-up--point {
  text-align: center;
}

.leaderboard__field--point {
  grid-column: 3 / 4;
}

.leaderboard__podium {
}

.leaderboard__runner-up--user {
  display: flex;
  align-items: center;
}

.leaderboard__runner-up {
  grid-column: 1 / -1;
  width: 100%;
  margin-top: 2.3rem;
}

.leaderboard__field--no,
.leaderboard__runner-up--no {
  grid-column: 1 / 2;
}

.leaderboard__runner-up--img {
  margin: 0 0.6rem;
}

.leaderboard__runner-up-btn {
  width: fit-content;
  margin-left: auto;
  padding: 0;
}

.leaderboard__runner-up-link {
  display: block;
  padding: 0.5em 2em;
}
