
body{
	overflow-x: hidden;
}
.leaderboard_dashboard{
	margin: 0;
	display: flex;
	justify-content: center;
	align-items: center;
}
.leaderboard_container{
	width: 100%;
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
	grid-gap: 4rem;
}
.top_box{
	width: 23rem;
	height: 220px;
	background-color: #ffffff;
    box-shadow: 0 5px 10px #e1e5ee;
	border-radius: 20px;
}
.top2-s_half_box{
	width: 23rem;
	height: 100px;
	background-color: #A3A3A3;
    box-shadow: 0 5px 10px #e1e5ee;
    border-radius: 20px 20px 0px 0px;
	position: relative;
}
.top1-s_half_box{
	width: 23rem;
	height: 100px;
	background-color: #E7BC18;
    box-shadow: 0 5px 10px #e1e5ee;
    border-radius: 20px 20px 0px 0px;
	position: relative;
}
.top3-s_half_box{
	width: 23rem;
	height: 100px;
	background-color: #C5853C;
    box-shadow: 0 5px 10px #e1e5ee;
    border-radius: 20px 20px 0px 0px;
	position: relative;
}
.top_img{
	border: 1px solid black;
	width: 80px;
    height: 80px;
    border-radius: 50%;
	margin: 0 0 0 9rem;
}
h3, .pt{
	text-align: center;
}
.pt{
	font-size: 32px;
	color: white;
	margin: 5px 0px 0px 0px; 
}

/* ------------------------------------------------------------------------ */
.all-ranking_dashboard{
	margin: 0;
	margin-top: -70px;
	margin-bottom: 100px;
	display: flex;
	justify-content: center;
	align-items: center;
}
.all-ranking_container{
	margin-top: 100px;
	width: 100%;
	display: grid;
	grid-template-rows: repeat(auto-fit, minmax(60px, 1fr));
	grid-gap: 20px;
}
.l_box{
	height: 60px;
	background-color: #ffffff;
    box-shadow: 0 5px 10px #e1e5ee;
    border-radius: 20px;
}
.rank-tag_container{
	width: 100%;
	display: grid;
	grid-template-rows: repeat(auto-fit, minmax(60px, 1fr));
	grid-gap: 20px;
}
.rank_tag{
	margin-top: 70px;
	font-size: 16px;
	color: #000000;
	width: 60%;
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
}
.no_tag{
	font-weight: bold;
	margin: 0rem 2rem;
}
.user_tag{
	font-weight: bold;
	margin: 0rem -2rem;
}
.point_tag{
	justify-content: right;
	align-items: right;
	display: flex;
	font-weight: bold;
	margin: 0rem 2rem;
	width: 115%;
}
.user_info{
	width: 100%;
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
}
.rank_no{
	font-size: 20px;
	margin: 1rem 2rem;
}
.rank_img{
	width: 50px;
    height: 50px;
    border-radius: 50%;
	margin: 0.3rem -2rem;
}
.rank_name{
	font-size: 20px;
	margin: 1rem -5rem;
}
.rank_pt{
	font-size: 20px;
	margin: 1rem 2rem;
}
.view_profile_btn{
	margin: 0.7rem -2rem;
	text-decoration: none;
	color: 	#008000;
	border-color: 008000;
	line-height: 25px;
	background-color: white;
	border-radius: 10px;
	width: 150px;
	height: 40px;
	font-size: 14px;
	cursor: pointer;
}
.view_profile_btn:hover {
	background-color: #008000;
	color: white;
}

@media (max-width: 1595px){
	.leaderboard_container{
		display: flex;
		flex-direction: column;
	}
	.top2-s_half_box{
		position: relative;
		margin: 290px 0px 0px 0px;
	}
	.top1-s_half_box{
		position:relative;
		margin: -290px 0px 0px 0px;
	}
	.top_box{
		margin: 0 auto;
	}
}


@media (max-width: 1050px){
	.point_tag{
		margin: 0 3rem;
	}
}
