.profile--main {
  background-color: #f5f5f5;
}

.profile__banner {
  width: 100%;
  margin-bottom: 2.5rem;
  padding: 0;
  background-color: #ffffff;
}

.profile__banner-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2em;
}

.profile__banner-btn-container {
  display: flex;
  align-self: flex-end;
}

.profile__edit-btn,
.profile__delete-btn {
  padding: 0;
  color: #000000;
  font-size: 1.2rem;
  background-color: #ffffff;
}

.profile__edit-btn {
  margin-right: 0.5em;
}

.profile__edit-txt,
.profile__delete-txt {
  display: none;
}

.profile__banner-header {
  min-width: 20%;
  max-width: 10rem;
  margin: 0 2rem;
}

.profile__img {
  display: block;
  margin: 0 auto;
  min-width: 65%;
}

.profile__username {
  text-align: center;
  margin: 1rem 0;
  word-wrap: break-word;
}

.profile__banner-body {
  align-self: flex-start;
}

.profile__banner-content {
  margin: 0.7rem 0;
}

.profile__content-label {
  color: #757575;
}

.profile__content {
  margin-bottom: 0.5rem;
}

.profile__banner-verify-link {
  margin-left: 0.2rem;
  color: var(--clr-link);
  cursor: pointer;
}

.profile__banner-verify-link:hover {
  border-bottom: 1px solid var(--clr-link);
}

.profile__banner-navbar {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  background-color: #f7f7fc;
}

.profile__banner-navbar-btn {
  min-width: 40%;
  margin: 0.6rem 0.2rem;
  font-weight: 700;
  color: #757575;
  background-color: #f7f7fc;
}

.profile-btn-selected {
  color: #ffffff;
  background-color: var(--clr-primary);
}

/* -- Modal -- */
.modal {
  width: 28rem;
}

.modal__title {
  text-align: center;
}

.verify-form,
.edit-profile-form,
.verify-form__item,
.edit-profile-form__item {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.verify-form__item,
.edit-profile-form__item {
  margin-top: 1rem;
}

.verify__input,
.edit-profile__input {
  width: 100%;
}

.verify-form__btn,
.edit-profile-form__btn {
  width: 50%;
  margin: 2rem auto 0;
}

.modal__content--delete-account {
  margin: 1rem;
}

.modal__delete--txt,
.modal__delete-account-password {
  text-align: center;
  margin-bottom: 1rem;
}

.delete__username {
  font-weight: 700;
}

.modal__delete-account-password,
.modal__delete-account-btn {
  width: 100%;
}

.modal__delete-account-btn--disabled {
  color: rgba(207, 34, 46, 0.5);
  border: 1px solid rgba(207, 34, 46, 0.5);
  pointer-events: none;
}

/* -- Section -- */
.profile-section {
  display: none;
  padding: 0rem 0 3rem;
}

.profile-section-selected {
  display: block;
}

.profile-section-selected--flex {
  display: flex;
}

.profile-section--overview {
  justify-content: space-between;
  flex-wrap: wrap;
}

.profile-section__overview--about,
.profile-section__overview--stats {
  width: 100%;
  margin-bottom: 2rem;
  border-bottom: 5px solid var(--clr-primary);
}
 

.overview--about__title,
.overview--stats__title {
  margin-bottom: 0.5rem;
}

.overview--about__header {
  display: flex;
  justify-content: space-between;
}

.overview--about__edit-btn,
.overview--about__close-btn {
  font-size: 1.3rem;
  cursor: pointer;
}

/* .overview--about__close-btn,
.overview--about__bio-input {
  display: none;
} */

.overview--about__bio-input,
.overview--about__bio-btn-container {
  display: none;
 
}

.overview--about__bio-input {
  min-height: 13rem;
}

.overview--about__bio-btn-container {
  justify-content: flex-end;
  margin-top: 1rem;
}

.overview--about__bio-cancel-btn {
  margin-right: 1rem;
  background-color: #b3b3b3;
}

.profile-section--question {
  

}

/* Classes for JS DOM */
.no-scroll {
  overflow: hidden;
}

@media (min-width: 900px) {
  .profile__banner-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    padding: 2em;
  }

  .profile__banner-btn-container {
    order: 1;
    margin-left: auto;
    align-self: flex-start;
  }

  .profile__banner-header,
  .profile__banner-body {
    margin-top: 2rem;
  }

  .profile-section__overview--about {
    max-width: 65%;
  }

  .profile-section__overview--stats {
    max-width: 30%;
  }
}

@media (min-width: 1245px) {
  .profile__banner-navbar-btn {
    min-width: 20%;
  }

  .profile__banner-btn-container {
    flex-direction: column;
  }

  .profile__edit-btn,
  .profile__delete-btn {
    padding: 0.5em 2em;
    font-size: 0.9rem;
  }

  .profile__delete-btn {
    color: #fa2230;
    border: 1px solid #fa2230;
  }

  .profile__delete-btn:hover {
    color: #ffffff;
    background-color: #fa2230;
    border: 1px solid #fa2230;
    transition: 0.3s ease-in-out;
  }

  .profile__edit-btn {
    color: #ffffff;
    background-color: var(--clr-primary);
    margin-right: 0;
    margin-bottom: 0.5rem;
  }

  .profile__edit-txt,
  .profile__delete-txt {
    display: inline;
  }
}
