/* FORCED OVERRIDE TO GLOBAL CTNR WIDTH, UNIDENTIFIED ISSUE WILL REMOVE */
.main-content {width: 64vw;}

.question-poster {
    height: 8vh; max-height: 8vh; max-width: 100%;
    display: grid; grid-template-columns: 12% 88%;
}

.question-poster > .picture {
    width: 5vh; height: 5vh;
    border-radius: 50%; border: 1px solid black;
    margin: auto;
}

.question-poster > .details {
    margin: 0.5rem;
    display: grid; grid-template-rows: 50% 50%;
}

.details:first-child {
    font-size: large;
}
