/* FORCED OVERRIDE TO GLOBAL CTNR WIDTH, UNIDENTIFIED ISSUE WILL REMOVE */
.main-content {width: 64vw;}

.question-poster {
    height: 8vh; max-height: 8vh; max-width: 100%;
    display: grid; grid-template-columns: 12% 88%;
}

.question-poster > .picture {
    width: 5vh; height: 5vh;
    border-radius: 50%; border: 1px solid black;
    margin: auto;
}

.question-poster > .details {
    margin: 0.5rem;
    display: grid; 
    grid-template-rows: 50% 50%; grid-gap: 0.5rem;
}

.details > .name {font-family: var(--ff-montserrat-text); font-size: 1.5rem;}

.question-ctnt {
    margin: 0.2rem; padding: 0.5rem;
    font-family: var(--ff-montserrat-light); font-size: 1.3rem;
}



.ui-grid {
    display: grid; max-width: 55%;
    grid-template-columns: 30% auto auto; grid-gap: 1rem;
}