
body{
	overflow-x: hidden;
}
.user_dashboard{
	margin: 0;
	display: flex;
	justify-content: center;
	align-items: center;
}
.user_container{
	margin-bottom: 4rem;
	width: 95%;
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
	grid-gap: 3rem;
}
.user_box{
	width: 23rem;
	height: 90px;
	background-color: #ffffff;
    box-shadow: 0 5px 10px #e1e5ee;
	border-radius: 20px;
}
.user_info{
	width: 100%;
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
}
.user_info-detail{
	margin: 1rem -3rem;
}
.user_img{
	width: 60px;
    height: 60px;
    border-radius: 50%;
	margin: 1rem 3rem;
}
.user_name{
	color: #000000;
	font-size: 18px;
}
.RP{
	color: #000000;
	font-weight: bold;
	margin: 0.5rem 0;
}
.page-nav_container{
	margin-bottom: 4rem;
	width: 100%;
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
}
.home__main-nav {
	display: flex;
	justify-content: center;
	margin-bottom: 8rem;
}
  
.home__main-nav-btn {
	padding: 0;
	background-color: #ffffff;
}
  
.home__main-nav-link {
	padding: 0.7em 1.5em;
	color: var(--clr-font-grey);
}
  
.home__main-nav-page {
	margin: 0 2rem;
}

@media (max-width: 1050px){
	.user_box{
		margin: 0 auto;
	}
}

@media (max-width: 1626px){
	.user_box{
		margin: 0 auto;
	}
}

@media (max-width: 1245px){
	.user_box{
		margin: 0 auto;
	}
}

@media (max-width: 950px){
	.user_container{
		display: flex;
		flex-direction: column;
	}
}
