.layout-footer {
  padding: 3em;
  background-color: #000000;
  color: #ffffff;
}

.layout-footer__title {
  width: 30%;
  min-width: fit-content;
  margin: 0 auto;
  padding: 0.5em 1em;
  border-bottom: 1px solid #ffffff;
  text-align: center;
}

.layout-footer__social-media {
  display: flex;
  justify-content: center;
}

.layout-footer__social-icon {
  margin: 1rem 1rem 3rem;
  font-size: 2rem;
  color: white;
}

.layout-footer__content {
  display: flex;
  width: fit-content;
  margin: 0 auto;
}

.layout-footer__copyright,
.layout-footer__text {
  margin: 1rem;
  font-size: 0.9rem;
}

.layout-footer__copyright {
  pointer-events: none;
}

.layout-footer__text {
  color: white;
}

@media only screen and (max-width: 1150px) {
  .layout-footer__content {
    flex-direction: column;
    align-items: center;
  }

  .layout-footer__copyright {
    order: 1;
  }
}
