.layout-footer {
  position: relative;
  bottom: 0;
  height: fit-content;
  width: 100%;
  padding: 3em;
  background-color: #000000;
  color: #ffffff;
}

.layout-footer__title {
  margin: 0 auto;
  text-align: center;
}

.layout-footer__copyright {
  margin: 3rem auto 0;
  width: max-content;
}
