.main-content {
  /* Including sidebar will require these properties for main-content. */
  min-height: 120vh;
  max-width: 100vw;
}

.layout-sidebar {
  display: none;
  position: absolute;
  top: var(--layout-header-height);
  right: 0;
  min-height: 90vh;
  width: 21vw;
  padding: 3rem 3rem 3rem 1rem;
}

.layout-sidebar-btn--ask-question {
  width: 100%;
  margin-bottom: 2rem;
  padding: 0;
}

.layout-sidebar-link {
  display: block;
 
  padding: 0.8em 1.5em;
  text-align: left;
  font-weight: 700;
}

.layout-sidebar-btn--ask-question {
  background-color: var(--clr-primary);
  color: #ffffff;
}

.layout-sidebar__content {
  width: 100%;
  margin: 0 auto 3rem;
  padding: 1.8em;
}

.layout-sidebar__content-title {
  text-decoration: 1px underline var(--clr-font-grey);
}

.layout-sidebar__top-user {
  display: flex;
  align-items: center;
  margin-top: 1rem;
}

.sidebar-top-user__username {
  margin-left: 0.3rem;
}

.layout-sidebar__hot-topic {
  display: block;
  margin-top: 1rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  color: var(--clr-link);
}

.layout-sidebar__hot-topic:hover {
  text-decoration: 1px underline var(--clr-link);
}

@media (min-width: 1245px) {
  .main-content {
    /* Including sidebar will require these properties for main-content. */
    min-height: 120vh;
    width: 65vw;
    padding-right: 3rem;
    padding-bottom: 8rem;
  }

  .layout-sidebar {
    display: block;
  }
}
