.home--sidebar {
    display: none;
    position: absolute;
    top: var(--layout-header-height);
    right: 0;
    min-height: 90vh;
    width: 21vw;
    padding: 3rem 3rem 3rem 1rem;
    /* border-left: 0.15em solid var(--clr-shadow-grey); */
  }

  .home--sidebar__content {
    width: 100%;
    margin: 0 auto 3rem;
    padding: 1.8em;
  }
  
  .home--sidebar__content-title {
    text-decoration: 1px underline var(--clr-font-grey);
  }
  
  .home--sidebar__top-user {
    display: flex;
    align-items: center;
    margin-top: 1rem;
  }
  
  .home--sidebar__top-user:hover {
    opacity: 0.6;
  }
  
  .sidebar-top-user__username {
    margin-left: 0.3rem;
  }
  
  .home--sidebar__hot-topic {
    display: block;
    margin-top: 1rem;
    color: var(--clr-link);
  }
  
  .home--sidebar__hot-topic:hover {
    text-decoration: 1px underline var(--clr-link);
  }

  @media (min-width: 1245px) {
    .home--sidebar {display: block;}
  }