.home--sidebar {
    display: none;
    position: absolute;
    top: var(--layout-header-height);
    right: 0;
    min-height: 90vh;
    width: 21vw;
    padding: 3rem 3rem 3rem 1rem;
    /* border-left: 0.15em solid var(--clr-shadow-grey); */
  }